# Express-Pay
EP_TOKEN=ваш_токен_из_кабинета_express_pay
EP_SECRET_WORD=ваше_секретное_слово
EP_IS_TEST=false
BASE_URL=https://your-domain.com

# MySQL (совпадают с docker-compose.yml)
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=fastapi
MYSQL_PASSWORD=secret
MYSQL_DB=expresspay

DATA_DIR=/data
